
# config file
.ipynb_checkpoints/
.vscode/
.idea/
__pycache__/
.DS_Store

# data
*.pic
*.pickle
data-training.csv
datas/

# XTXKIt
XTXStarterKit-master/.DS_Store
XTXStarterKit-master/*zip
XTXStarterKit-master/python/.DS_Store
XTXStarterKit-master/python/*.hdf5
XTXStarterKit-master/python/xtxenv/

# OneCycle
OneCycle/

# test script
demo.py



